@import "vars";
@import "libs";
@import "global";



.announcement{
    padding: 10px 0;
    background: #A6672B;
    z-index: 98;
    &__inner{
        display: flex;
        justify-content: center;
    }
    &__item{
        margin-left: 10px;
        text-align: center;
    }
    &__item-link{
        font-size: 14px;
        line-height: 21px;
        color: $accent;
    }
}

.offer{
    padding: 12px 0 10px;
    background: #252525;
    z-index: 98;
    &__inner{
        display: flex;
        justify-content: center;
    }
    &__item{
        margin-left: 10px;
        text-align: center;
    }
    &__item-link{
        font-size: 14px;
        line-height: 21px;
        color: $accent;
    }
}



.header{
    background-image: url(../images/header/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    transition: all 1s;
    &__inner{
        align-items: center;
        padding: 34px 0;
        margin-bottom: 134px;
        transition: top 0.4s;
        z-index: 99;
    }
    &__inner-wrapper{
        display: flex;
        align-items: center;
        max-width: 1390px;
        margin: 0 auto;
        z-index: 99;
    }
    &__logo{
        z-index: 99;
    }
    &__box{
        margin-left: auto;
        z-index: 99;
    }
    &__btn{
        margin-left: 30px;
        font-size: 14px;
        line-height: 24px;
        color: $accent;
    }
    &__info{
        padding-bottom: 126px;
        padding-left: 200px;
    }
    &__title{
        font-size: 30px;
        line-height: 40px;
        color: $accent;
        max-width: 400px;
        margin-bottom: 16px;
    }
    &__text{
        font-size: 16px;
        line-height: 27px;
        color: $accent;
        max-width: 402px;
    }
}



.product{
    background: #CFC7C0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    height: 720px;
    &__img{
        width: 50%;
    }
    &__images{
        width: 100%;
        height: 100%;
    }
    &__info{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__btn{
        text-align: right;
        margin: 40px 40px 0 0;
    }
    &__btn-link{
        padding-bottom: 3px;
        font-size: 16px;
        line-height: 19px;
        color: $default;
        display: inline-block;
        position: relative;
        &::before{
            content: '';
            transition: all .3s;
            position: absolute;
            bottom: 0;
            width: 0%;
            height: 2px;
            background-color: #000;
        }
        &:hover{
            &::before{
                width: 100%;
            }
        }
    }
    &__info-box{
        display: flex;
        align-items: center;
        padding: 110px 0 169px;
    }
    &__info-img{
        margin: 0 40px;

    }
    &__info-inner{
        width: 400px;
    }
    &__info-title{
        margin-bottom: 20px;
        font-size: 28px;
        line-height: 40px;
    }
    &__info-subtitle{
        margin-bottom: 21px;
        font-size: 16px;
        line-height: 26px;
    }
    &__info-text{
        margin-bottom: 26px;
        font-size: 14px;
        line-height: 22px;
    }
    &__info-price{
        display: block;
        background: #333333;
        border: 1px solid #333333;
        margin-bottom: 20px;
        padding: 20px 0 26px;
        color: $accent;
        width: 100%;
        cursor: pointer;
    }
    &__info-link{
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        display: block;
        border: 1px solid rgba(51, 51, 51, 0.2);
        padding: 20px 0;
        color: $default;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            top: 23px;
            right: 15px;
            background-image: url(../images/icon/arrow-right--black.svg);
        }
    }
}



.slider{
    padding: 0 0 150px;
    &__items{
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    &__item{
        margin-right: 30px;
        // display: block;
        transition: all .5s;
        padding-bottom: 20px;
        border-bottom: 1px solid transparent;
        &:hover{
            border-bottom: 1px solid #000;
        }
    }
    &__title{
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        display: block;
        color: $default;
        font-weight: 400;
        margin: 9px auto 10px;

    }
    &__subtitle{
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        color: $default;
    }
}

.slick-list{
    padding-right: 130px;
    padding-left: 20px;
}


.slick-dots{
    position: absolute;
    bottom: -2px;
    width: 100%;
    display: flex;
    justify-content: center;
    li{
        line-height: 0;
        width: 100%;
        button{
            transition: all .6s;
            font-size: 0;
            line-height: 0;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            width: 100%;
            height: 1px;
            background: rgba(0, 0, 0, 0.2);
        }
    }
    .slick-active{
        button{
            background: rgba(0, 0, 0, 0.6);
        }
    }
}





.about-product{
    padding-bottom: 200px;
    display: flex;

    &__info{
        width: 400px;
    }
    &__subtitle{
        display: block;
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 24px;
    }
    &__title{
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 27px;
    }
    &__text{
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 26px;
    }
    &__btn{
        font-size: 14px;
        line-height: 20px;
        width: 300px;
        display: block;
        color: $default;
        border: 1px solid rgba(51, 51, 51, 0.2);
        padding: 20px 54px 20px 24px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            top: 24px;
            right: 15px;
            background-image: url(../images/icon/arrow-right--black.svg);
        }
    }
    &__img{
        img{
            width: 100%;
            height: auto;
        }
    }
}



.blockquote{
    text-align: center;
    max-width: 675px;
    margin: 0 auto 14px;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 200px;
    &__author{
        font-size: 14px;
        line-height: 28px;
        display: block;
    }
}


























.footer{
    padding: 50px 0 0 0;
    background-color: #252525;
    border-bottom: 3px solid #D6D5CB;
}


.footer-top{
    &__box{
        margin-bottom: 40px;
        display: flex;
    }
    &__mail{
        padding-right: 40px;
        width: 520px;
    }
    &__mail-btn{
        display: block;
        color: $accent;
        font-size: 20px;
        margin-bottom: 12px;
        position: relative;
        padding: 10px 0 10px 10px;
        border: 1px solid $accent;
        &::after{
            content: '';
            position: absolute;
            top: 19px;
            right: 15px;
            width: 12px;
            height: 10px;
            background-image: url(../images/icon/arrow-right.svg);
        }
    }
    &__mail-subtitle{
        font-size: 14px;
        line-height: 25px;
        color: $accent;
    }
    &__items{
        display: flex;
    }
    &__item{
        width: 240px;
        margin-right: 40px;
    }
    &__item-title{
        font-size: 15px;
        line-height: 30px;
        color: $accent;
        padding-bottom: 17px;
        margin-bottom: 14px;
        border-bottom: 1px solid $accent;
    }
    &__link{
        font-size: 14px;
        line-height: 35px;
        color: $accent;
    }
    &__link--icon{
        padding-right: 15px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 9px;
            height: 9px;
            background-image: url(../images/icon/icon-link.svg);
            top: 5px;
            right: 0;
        }
    }
    &__info{
        width: 520px;
        padding-right: 40px;
    }
    &__info-title{
        font-size: 15px;
        line-height: 30px;
        padding-bottom: 17px;
        margin-bottom: 20px;
        color: $accent;
        border-bottom: 1px solid $accent;
    }
    &__info-text{
        font-size: 14px;
        line-height: 25px;
        color: $accent;
    }
}

.footer-bottom{
    background-color: #252525;
    padding: 27px 0 22px;
    &__logo{
        font-size: 16px;
        line-height: 19px;
        color: $accent;
    }
}

@import "media";